.highlightHeader {
	position: relative;
	height: 50px;
	
	.highlight {
		position: absolute;
	}

	.highlight {
		height: 100%;
		image {
			width: 100%;
		}
	}

	.highlightedText {
		width: 100%;
		text-align: center;
	}
}

.login .highlightHeader {
	display: flex;
	justify-content: center;
}