// bootstrap icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./variables.scss";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import react-grid-layout styles
@import "../../node_modules/react-grid-layout/css/styles.css";
@import "../../node_modules/react-resizable/css/styles.css";

// Import custom styles
@import "./app.scss";
@import "./eventDetailPopup.scss";
@import "./goals.scss";
@import "./home.scss";
@import "./monthView.scss";
@import "./navigation.scss";
@import "./schedule.scss";
@import "./todo.scss";
@import "./weekView.scss";
