$primary: #F2EBEB;
$secondary: #CFB884;
$success: #006307;
$info: #B09554;
$warning: #EA4600;
$danger: #B90000;
$light: #E8E7E6;
$dark: #001B29;

$font-family-base: "Outfit";
$headings-font-family: "Work Sans";