$primary: #F2EBEB;
$secondary: #EBE4A4;
$success: #006307;
$info: #b09554;
$warning: #EA4600;
$danger: #B90000;
$light: #E8E7E6;
$dark: #001B29;

$accent-yellow: #EBE4A4;
$accent-light-blue: #afdef9;
$accent-pink: #c59fc9;
$accent-dark-blue: #187795;
$accent-dark-green: #38686a;

$font-family-base: "Outfit";
$headings-font-family: "Outfit";

$dark-gray: #31393C;